<!DOCTYPE HTML>

<html>
	<head>
		<title>About Us</title>
	</head>
	<body>
		<div style= "position:relative;left:60px; font-family:Impact; font-size:250%">ABOUT US</div>
		<hr>
		<br>
	
		<p style="font-size:150%; color:gray;" align="center">
		Here at SESHMASTER we aim to provide an easy to use service to help our users
		<br>
		find their ideal Nightclub location in Glasgow. 
		<br>
		<br>
		Whether you're looking for a chill night out with mates or a rave to remember
		<br>
		here at SESHMASTER we have you covered.
		<br>
		<br>
		Search for your ideal Nightclub based on price range, music genre, location,
		<br>
		user rating, or name. Whatever you're looking for, we're sure to have it here.
		<br>
		<br>
		When you do find the club you're looking for feel free to leave a review of 
		<br>
		it with us and we'll display it underneath the club's page for everyone to see.
		<br>
		If you feel like it you could even upload pictures of the club that you took 
		<br>
		on your night out to show everyone the club from your perspective.
		<br>
		<br>
		<br>
		For Nightclub owners we offer the ability to make a page for any and all of
		<br>
		your clubs. Just simply get in <u><a style = "text-decoration:none" href="/seshmaster/contact/">contact</a></u> with us and we'll give you 
		<br>
		owner privileges on the site.
		
		 </p>
		
		
		<div style="position: absolute; bottom: 5px; font-size:130%; font-family:Comic Sans MS">
			
			<a style = "text-decoration:none";>About  </a>
			<a style = "text-decoration:none"; href="/seshmaster/sitemap/">|   Sitemap  |   </a>
			<a style = "text-decoration:none"; href="/seshmaster/contact/">Contact  |   </a>
			<a style = "text-decoration:none"; href="/#">Home</a>
		</div>
	</body>
</html>