<!DOCTYPE html> 
<html>
	<head> 

		<title>Seshmaster</title> 

	</head>
	
	<body> 
	
		<div style= "position:relative;left:60px; font-family:Impact; font-size:250%"> 
		 
			SESHMASTER 
			
			<input style= "position:relative; left:120px;" type = "text" id = "name" value = "Username" />
			<input style= "position:relative; left:130px;" type = "text" id = "pass" value = "Password" /> 
			<input style= "position:relative; left:130px;" type = "button" id = "submit" value = "Login" /> <br>
			<input style= "position:fixed; left:401px;" type = "button" id = "new" value = "New User?" />
			

	
		</div> 
		
		<div>
			<label style = "position:absolute; bottom:250px; left:150px;  font-size: 120%; font-family:Arial Black"> Find your perfect location </ label> 
		</div>
		
		
	
		<div style="position: absolute; bottom: 5px; font-size:130%; font-family:Comic Sans MS";> 
			
			<a style = "text-decoration:none"; href="/seshmaster/about/">About  |   </a>
			<a style = "text-decoration:none"; href="/seshmaster/sitemap/">Sitemap  |   </a>
			<a style = "text-decoration:none"; href="/seshmaster/contact/">Contact</a>
			<a style = "text-decoration:none"; href="/seshmaster/signup/">signup</a>
			<a style = "text-decoration:none"; href="/seshmaster/nightclubbrowse/">nightclubbrowse</a>
			<a style = "text-decoration:none"; href="/seshmaster/nightclubbrowse/nightclubpage/">nightclubpage</a>
			<a style = "text-decoration:none"; href="/seshmaster/nightclubbrowse/leavereview/">leavereview</a>
			<a style = "text-decoration:none"; href="/seshmaster/nightclubbrowse/rateimage">rateimage</a>
			<a style = "text-decoration:none"; href="/seshmaster/myaccount/">myaccount</a>
			<a style = "text-decoration:none"; href="/seshmaster/myaccount/myreviews/">myreviews</a>
			<a style = "text-decoration:none"; href="/seshmaster/myaccount/mynightclubs/">mynightclubs</a>
			
		
		</div> 
	
	</body>

</html>
