<!DOCTYPE HTML>

<html>
	<head>
		<title>Sitemap</title>
	</head>
	<body>
		<div style= "position:relative;left:60px; font-family:Impact; font-size:250%">SITEMAP</div>
		<hr>
		<br>
		<img src="..\..\seshmaster\media\images\sitemap.png" style="width:600px";>
		 </p>
		
		
		<div style="position: absolute; bottom: 5px; font-size:130%; font-family:Comic Sans MS">
			
			<a style = "text-decoration:none"; href="/seshmaster/about/";>About  </a>
			<a style = "text-decoration:none"; >|   Sitemap  |   </a>
			<a style = "text-decoration:none"; href="/seshmaster/contact/">Contact  |   </a>
			<a style = "text-decoration:none"; href="/#">Home</a>
		</div>
	</body>
</html>